<md-dialog flex-sm="80" flex-md="50" flex="33" >
    <md-content>
        <h3 class="inset">Diagram Settings</h3>

        <form name="Details" novalidate class="inset">

            <md-input-container>
                <label > Name</label>
                <input type="text" name="name" id ="name" ng-model="dsc.diagramDetails.name" required>
            </md-input-container>

            <md-input-container >
                <label> Description </label>
                <input ng-model="dsc.diagramDetails.description">
            </md-input-container>

            <p class="md-caption"> Units </p>
            <md-select ng-model="dsc.diagramDetails.unit" required placeholder="Select Diagram Units">
                <md-option ng-value="unit.name" ng-repeat="unit in dsc.units">
                    {{ unit.name }}
                </md-option>
            </md-select>
            <p class="result">{{ unit.name }}</p>

            <md-input-container>
                <label> Total intervals </label>
                <input type="number" data-ng-model="dsc.diagramDetails.totalIntervals" required
                          min="dsc.minIntervals()" max="99">
            </md-input-container>

            <md-input-container>
                <label> start date</label>
                <input name = "startDate" type="date">
            </md-input-container>

        </form>

        <div class="md-actions" layout="row">
            <md-button class="md-raised" ng-click="dsc.cancel()">cancel</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-click="dsc.ok()" ng-disabled="Details.$invalid || Details.$pristine">OK</md-button>
        </div>
    </md-content>

</md-dialog>
