<div layout="column" layout-align="center">
    <md-toolbar class="md-medium-tall" layout="row" layout-align="space-around center">
        <div layout = "row" flex-gt-md="25" layout-align="start"  >
            <img src="img/logowhite.png" class="md-padding"/>
        </div>
        <div layout = "row" flex-gt-md="50" layout-align="center center">
            <md-button class="md-fab md-accent md-raised" aria-label="create"  ng-click="createDiagram()">
                <i class="mdi mdi-plus"></i>
            </md-button>
            <span flex></span>
            <md-input-container >
                <input type="text" label="search" ng-model="search">
            </md-input-container>
        </div>
        <div layout = "row" flex-gt-md="25" layout-align="end center" >
            <md-button >John Doe </md-button>
            <img src="img/profile.jpg" alt="" class="face">
        </div>
    </md-toolbar>

    <md-content layout="row" >
        <div layout="row" flex-gt-md="50" layout-wrap>
            <md-card layout="column" flex="33"
                     ng-repeat="diagram in diagrams | filter:search" >
                <md-subheader>
                    <a ui-sref="diagram.canvas ({diagramId: diagram._id})"> <h2 > {{diagram.name}} </h2></a>
                </md-subheader>
                    <div layout="row" layout-align="space-between">
                        <md-button class="md-raised" aria-label="open" ng-click="openDiagram(diagram._id)">
                            <i class="mdi mdi-open"></i>
                        </md-button>

                        <md-button class="md-raised" aria-label="delete" ng-click="deleteDiagram(diagram, $index)">
                            <i class="mdi mdi-delete"></i>
                        </md-button>
                    </div>
                <div layout-fill>
                    <p>{{diagram.description}}</p>
                </div>
            </md-card>
        </div>
    </md-content>
</div>

