<div layout="column" layout-align="center">
    <md-toolbar class="md-medium-tall" layout="row" layout-align="space-around center">
        <img src="img/logowhite.png" class="md-padding"/>
        <div layout = "row" flex-gt-md="50" layout-align="center center">
            <md-button class="md-fab md-accent md-raised" aria-label="create"  ng-click="createDiagram()">
                <i class="mdi mdi-plus"></i>
            </md-button>
            <span flex></span>
            <md-input-container >
                <input type="text" label="search" ng-model="search">
            </md-input-container>
        </div>
        <div layout = "row" flex-gt-md="25" layout-align="end center" >
            <md-button >John Doe </md-button>
            <img src="img/profile.jpg" alt="" class="face">
        </div>
    </md-toolbar>

    <md-content layout="row" layout-margin layout-padding layout-wrap>
        <md-card ng-repeat="diagram in diagrams | filter:search" >
            <md-card-content>
                <img src="img/dg.jpg" class="md-card-image" alt="diagram">
                <h2 class="md-title">{{diagram.name}}</h2>
                <div class="card-width">{{diagram.description}}</div>
            </md-card-content>
            <md-card-footer>
                <md-button aria-label="open" ng-click="openDiagram(diagram._id)"> Open </md-button>
                <md-button aria-label="Delete" ng-click="deleteDiagram(diagram, $index)"> Delete </md-button>
            </md-card-footer>
        </md-card>
    </md-content>
</div>

